/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  
  background: linear-gradient(-14deg, #B1F223, #01DFFF, #3F2731, #964273, #ffff00);
  background-size: 400% 400%;
  animation: gradient 23s ease infinite;
/*  background: rgb(1,101,173);
  background: -moz-radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);
  background: radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);*/

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
