/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: rgb(1,101,173);
  background: -moz-radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);
  background: radial-gradient(circle, rgba(1,101,173,1) 19%, rgba(55,51,161,1) 65%, rgba(23,40,171,1) 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
