/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* refer to src/css/custom.css for <header> size ctrl */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: visible;
  
  background: url(./arco2.png);
  background-size: 100vw auto;
  background-repeat: no-repeat;
}

.gradient1 {animation: gradient1 13s ease infinite;}
.gradient2 {animation: gradient2 15s ease infinite;}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul a li {
  list-style-type: none;
  padding: 0.2em;
}
@keyframes gradient1 {
  0% { color: black; }
  50% { color: blue; }
  100% { color: black; }
}

@keyframes gradient2 {
  0% { color: #FF2D95; }
  50% { color: white; }
  100% { color: #FF2D95; }
}