/* Fonts */
/* new */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Pixelify+Sans:wght@400;600&display=swap');

.reactive-height {
  min-height: calc(100vw * 1.6)!important;
}

.app-layout {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.responsive-text {
  font-size: 0.9rem;
  padding-left: 3px;
}

/* Basic responsive row layout */
.row {
  display: flex; /* Make the container a flex container */
  flex-wrap: wrap; /* Allow the columns to wrap onto new lines if needed */
  gap: 1px; /* Space between the columns */
  justify-content: space-around;
}

.column {
  flex: 1 1 32%; /* Allow each column to take up 30% of the width */
  max-width: 32%; /* Prevent columns from getting too wide */
  box-sizing: border-box; /* Include padding and borders in width calculation */
  margin-bottom: 3px; /* Add some space below the columns */
}

.p-3 {
  padding-left: 0.3rem;
}

/* VideoCard.css */
.video-card-wrapper { /* for vertical layouts at bottom */
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1px;
}

.video-card {
  display: flex;
  flex: 1 1 32%;      /* Flexibly take up to 32% */
  max-width: 100%;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;        /* Centers child divs vertically (optional) */
  flex-direction: column;    /* Stacks child divs vertically */
  width: 11rem;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box; /* Includes padding & border in width */
}

.inner-content-div {
  padding: 1rem;
  margin: 1px;
  background-color: inherit;  /* Inherit the background color from parent */
  border-radius: 20px;        /* Ensure the inner content also has rounded corners */
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}


/* Make adjustments with viewport width (vw) for scaling */
@media screen and (max-width: 1024px) {
  .video-card .responsive-text {
    font-size: 1.5rem; /* Slightly larger text for tablets */
  }
}

/* Make sure the text inside video card is not too big on smaller screens */
@media screen and (max-width: 768px) {
  .video-card .responsive-text {
    font-size: 1.1rem;  /* Adjust font size based on screen size */
  }
}

/* Use a smaller text size for very small screens */
@media screen and (max-width: 375px) {
  .video-card .responsive-text {
    font-size: 1rem;  /* Scale down text size on small screens */
  }
}


.bigger-font {
  font-size: 1.8rem;
}

.unstyled-text {
  color: black;
}
.spacing-class {
  margin: 0px!important;
  padding: 0.7rem!important;
  outline-style: solid;
  outline-color: black;
}

/* qi page styling  */
.lemonchiffon{
  background: linear-gradient(LemonChiffon, rgba(255,255,255,0.1)) !important;
  color: black;
}
.mediumaquamarine{
  background: linear-gradient(MediumAquamarine, rgba(255,255,255,0.1)) !important;
  color: black;
}
.cornflowerblue{
  background: linear-gradient(cornflowerblue, rgba(255,255,255,0.1)) !important;
  color: black;
}
.palegreen{
  background: linear-gradient(palegreen, rgba(255,255,255,0.1)) !important;
  color: black;
}
/* boilerplate Infinima defaults */
:root {
  --ifm-color-primary: #e70ca9;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

*, .footer__title {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h1, h2, h3, button {
  font-family:  "Orbitron";
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FF2D95;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.no-bullet {
  list-style-type: none;
}

/* forces styling over the HomepageFeatures objects*/
.feature-card-style {
  background: linear-gradient(0deg, rgba(10,0,0,0.7), rgba(0,172,138,0.4));
  border-radius: 130px;
}
.feature-card-style a {
  color: white;
}

/* makes the default footer colors into a slight gradient */ 
.footer {
  background: linear-gradient(-14deg, rgba(10,0,0,0.8), rgba(0,172,138,0.4));
}
.hero__subtitle {
  color: #FFFFFF;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.hero__title {
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, #FFF 0px 0px 30px, #FFF 0px 0px 40px, #FFF 0px 0px 50px, #FFF 0px 0px 75px;
}



/* adapted from https://stackoverflow.com/questions/23441060/how-to-animate-gradients-using-css */
body
{
    background: linear-gradient(90deg, orchid, rgb(4, 227, 227), orchid);
    background-size: 200% 200%;

    -webkit-animation: Animation 37s ease infinite;
    -moz-animation: Animation 37s ease infinite;
    animation: Animation 37s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}