
/* Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,800;1,500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Taviraj:wght@200&display=swap');
/*@import url('./alagard.ttf');*/

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1728AB;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
}

*, .footer__title {
  font-family:  "Taviraj";
}

h1, h2, h3, button {
  font-family:  "Abril Fatface";
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0081DF;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.no-bullet {
  list-style-type: none;
}
.widest-column {
  min-width: 18vw;
}
/* to make the default footer colors into a slight gradient */ 
.footer {
  background: linear-gradient(-14deg, rgba(0,0,0,0.0), rgba(0,172,138,0.4));
}


